<!--
BLOG PAGE LINK - a simple <li> element containing a link to a blog page and some info

CONTEXT
    - blog_page: An instance of the BlogDetailPage model
-->
{% load wagtailcore_tags %}
<li>
    <a class="white-text" href="{{ blog_page.url }}">{{ blog_page.post_title }}</a>
    <br>
    <p class="small-text">{{ blog_page.post_summary|richtext|truncatewords:10 }}</p>
    {% for category in blog_page.categories.all %}
        <span class="gs-cat gd-heavyrain">
            {{ category.name }}
        </span>
    {% endfor %}
</li>
