{% extends "base.html" %}
{% load static %}
{% block more_style %}
<style media="screen">
html,
body,
header,
#intro {
height: 100%;
}

/*  necessary for scrollspy */
body  {
    position: relative;
}

#intro {
background: url("{% static 'images/beach.jpg' %}")no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
/* Adding some padding to offset the top of the window from the navbar */
.nav-pad {
    padding-top: 3.5em;
}
</style>
{% endblock %}

{% block content %}

<header>
    <!--Navbar-->
   <nav id = "gensci_nav" class="navbar navbar-expand-lg navbar-dark black fixed-top">
       <div class="container">

           <!-- Navbar brand -->
           <a class="navbar-brand" href="#">GenSci</a>

           <!-- Collapse button -->
           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
               aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

           <!-- Collapsible content -->
           <div class="collapse navbar-collapse" id="navbarSupportedContent">

               <!-- Links -->
               <ul class="navbar-nav mr-auto">
                   <li class="nav-item">
                       <a class="nav-link" href="#">Home <span class="sr-only"></span></a>
                   </li>
                   <li class="nav-item">
                       <a class="nav-link"  href="#purpose">Purpose</a>
                   </li>
                   <li class="nav-item">
                       <a class="nav-link" href="#goals">Goals</a>
                   </li>
                   <li class="nav-item">
                       <a class="nav-link" href="#methods">Methods</a>
                   </li>
                   <li class="nav-item">
                       <a class="nav-link" href="#next-steps">Next Steps</a>
                   </li>
                   <li class="nav-item">
                       <a class="nav-link" href="#participate">Participate</a>
                   </li>
               </ul>
               <ul class="navbar-nav ml-auto">
                   <li class="nav-item">
                       <a class="nav-link" href="{% url 'registration:reg-form' %}">Get Notified</a>
                   </li>
               </ul>
       </div>
   </nav>
   <!--/.Navbar-->

    <!--Landing Image w/ Mask-->
    <div  id="intro" class="view hm-black-light">

        <div class="container-fluid full-bg-img d-flex align-items-center justify-content-center">
            <div class="row d-flex justify-content-center">
                <div class="col-md-10 text-center">
                    <!-- Heading -->
                    <h1 class="display-3 font-bold white-text mb-2">Coming Soon! Gentlemen Scientists.</h1>

                    <!-- Divider -->
                    <hr class="hr-light">

                    <!-- Description -->
                    <h4 class="white-text my-4">Gentlemen Scientists aims to be a place of scientific collaboration and dissemination with a focus on marine science.  We seek to share tools and data as well as methods and results.</h4>
                </div>
            </div>
        </div>
    </div>
    <!--/.Mask-->
</header>
 <main class="mt-5" data-spy="scroll" data-target="#gensci_nav" data-offset="0">
     <div class="container">
         <!-- Definition -->
         <section id="Definition" class ="text-center nav-pad">
             <h1 class="mb-2">What is a Gentleman Scientist?</h1>
             <div class="row d-flex justify-content-center mb-2">
                 <div class="col-md-10">
                     <blockquote class="blockquote-reverse" cite="https://en.wikipedia.org/wiki/Independent_scientist">
                         <p>
                         An independent scientist (historically also known as <strong>gentleman scientist</strong>) is a financially independent scientist who pursues scientific study without direct affiliation to a public institution such as a university or government-run research and development body. The expression "gentleman scientist" arose in post-Renaissance Europe but became less common in the 20th century as government and private funding increased.
                         </p>
                         <p>
                         Most independent scientists have at some point in their career been affiliated with some academic institution, such as Charles Darwin who was affiliated with the Geological Society of London.
                         </p>
                         <footer class="blockquote-footer">
                             <cite title="Wikipedia">
                                     <a href="https://en.wikipedia.org/wiki/Independent_scientist">
                                         Wikipedia
                                     </a>
                             </cite>
                         </footer>
                     </blockquote>
                     <p>* The term Gentlemen Scientist is used to evoke a romantic, old-fashioned notion of an independent scientist such as Charles Darwin or Nikola Tesla.  It is not intended to suggest that only male scientists can participate.  Here at GenSci we welcome scientists and collaborators of all genders.</p>
                 </div>
             </div>
         </section>
         <!-- /Definition -->
         <hr class="my-5">
         <!-- Purpose -->
         <section id="purpose" class="text-left nav-pad">
             <h1 class="mb-4">Purpose</h1>

             <div class="row d-flex justify-content-left mb-4">
                 <div class="col-md-10">
                     <p >
                         The purpose of Gentlemen Scientists is to disseminate scientific discoveries and ongoing research in marine and coastal sciences to the wider community.  Additionally it seeks to facilitate collaboration and communication between scientists utilizing some of the tools and methodologies from the world of software development.
                     </p>
                 </div>
             </div>
         </section>
         <!-- /Purpose -->
         <hr class="my-5">
         <!-- Goals -->
         <section id='goals' class="text-left nav-pad">
             <h1 class="mb-4">Goals</h1>
             <div class="row d-flex justify-content-left mb-4 ">
                 <div class="col-md-10">
                    <p>
                         The goals of Gentlmen Scientsts are many and growing as needs or new use cases are identified.  Some identified goals are as follows:
                    </p>
                        <ul>
                            <li>A blog in which scientific discoveries can be documented and research can be shared.</li>
                            <li>A  set of code repositories to share any custom solutions developed to aid in research endeavors.</li>
                            <li>A collaboration interface to allow groups of researchers to discuss their work, share analyes, and draft public releases of research.</li>
                            <li>An application interface that allows registered scientists to store data in a geographic context and view publicly available data that may interact with their study domain.</li>
                            <li>A community discussion forum where scientists and the greater public can actively communicate about past, ongoing, and future research.</li>
                        </ul>
                 </div>
             </div>
         </section>
         <!-- /Goals-->
         <hr class="my-5">
         <!-- Methods -->
         <section id='methods' class = "text-left nav-pad">
             <h1 class="mb-4">Methods</h1>
             <div class="row d-flex justify-content-left mb-4">
                 <div class="col-md-10">
                     <p>Gentlemen Scientists is intended as a marriage between web application development and oceanographic study of remote sensing data.  The site is developed using a Python 3 framework (Django) and thus much of the initial code base will likely be using that language.</p>
                     <p>Where possible, graphics will be interactive and directly interpret actual data, which will be available for download.</p>
                     <p>The D3 visualization framework will be employed as well as some Python based graphing libraries.</p>
                 </div>
             </div>
         </section>
         <!-- /Methods -->
         <hr class="my-5">
         <!-- Next Steps -->
         <section id='next-steps' class = "text-left nav-pad">
             <h1 class="mb-4">Next Steps</h1>
             <div class="row d-flex justify-content-left mb-4">
                 <div class="col-md-10">
                     <p>FIrst project: <strong>Physical Factors Influencing Phytoplankto Abundance In Southern Monterey Bay</strong></p>
                     <p>
                         The likely first project to be developed on GenSci will simply be the master thesis of C. Ryan Manzer, the founder of GenSci.  The intent is to present the scientific research, develop interactive visualizations, share analytical code (in both MatLab and Python), and link to data sources.
                     </p>
                     <p>
                         This research can provide a jumping off point for future collaborative work.
                     </p>
                 </div>
             </div>
         </section>
         <!-- /Next Steps -->
         <hr class="my-5">
         <!-- Partipcate -->
         <section id='particpate' class="text-left">
             <h1 class="mb-4">Participate</h1>
             <div class="row d-flex justify-content-left mb-4">
               <div class="col-md-10">
                  <p>
                      All those with sincere interest in this endeavor are welcome to participate.  Once the site goes live there will be opportunites to discuss the research posted as well as contribute to the code base.
                  </p>
                  <p>
                      Those interested parties with web development and/or database experience are welcome to contribute to this work.  The code for this site is freely available <a href="https://github.com/supermanzer/GenSci"> here <i class="fa fa-github" aria-hidden="true"></i></a>
                  </p>
                  <p>To get notified when this site goes live click here</p>
                  <div class="row d-flex justify-content-center mb-4">
                      <a class="btn btn-lg indigo accent-3" href="{% url 'registration:reg-form' %}">Get Notified</a>
                  </div>

               </div>
             </div>

         </section>
         <!-- /Participate -->
     </div>
 </main>

<footer>

</footer>
{% endblock %}
