{% extends "base.html" %}
{% load static %}

<!-- Additional Styling Elements -->
{% block more_style %}
    <!-- Add More Style Here -->
{% endblock %}

{% block content %}


<header>
    <!--Navbar-->
    <nav id = "gensci_nav" class="navbar navbar-expand-sm navbar-dark black fixed-top">
       <div class="container">

           <!-- Navbar brand -->
           <a class="navbar-brand" href="#">GenSci</a>

           <!-- Collapse button -->
           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
               aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

           <!-- Collapsible content -->
           <div class="collapse navbar-collapse" id="navbarSupportedContent">

               <!-- Links -->
               <ul class="navbar-nav mr-auto">
                   <li class="nav-item active">
                       <a class="nav-link" href="/">Home <span class="sr-only"></span></a>
                   </li>
               </ul>
       </div>
    </nav>
    <!-- /Navbar -->
    <!-- Mask for page -->
    <div  id="intro" class="view hm-black-light">
        <div class="container-fluid full-bg-img d-flex align-items-center justify-content-center">
            <div class="row d-flex justify-content-center">
                <div class="col-md-10 text-center">
                    <h3>Sign Up for Go Live Notification</h3>
                    <hr class="my-5">
                    <p>If you want to be notified when Gentlemen Scientists goes live with the initial development, feel free to sign up below. </p>
                    <div class="card">
                        <form class="" action="" method="post">
                            <p class="h5 text-center mb-4">Get Notified</p>
                            <div class="md-form">
                                <i class="fa fa-user prefix grey-text"></i>
                                <input type="text" id="reg_name" name="name"  class="form-control" value="">
                                <label for="#reg_name">Your name</label>
                            </div>
                            <div class="md-form">
                                <i class="fa fa-envelope prefix grey-text"></i>
                                <input type="email" id="reg_email" name="email" class="form-control" value="">
                                <label for="#reg_email">Your email</label>
                            </div>
                            <div class="text-center">
                                <button  type="submit" class="btn btn-deep-blue">Register</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<main>

</main>

<footer>

</footer>

{% endblock %}
