{% extends "base.html" %}
{% load static %}

<!-- Additional Styling Elements -->
{% block more_style %}
    <!-- Add More Style Here -->
    <style media="screen">
    html,
    body,
    header,
    #intro {
        height: 100%;
    }

  .card {
      background-color: rgba(255, 255, 255, 0.5);
  }

    #intro {
        background: url("{% static 'images/rocky_coast.jpg' %}")no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    /* Adding some padding to offset the top of the window from the navbar */
    .nav-pad {
        padding-top: 3.5em;
    }
    </style>
{% endblock %}

{% block content %}


<header>
    <!--Navbar-->
    <nav id = "gensci_nav" class="navbar navbar-expand-sm navbar-dark black fixed-top">
       <div class="container">

           <!-- Navbar brand -->
           <a class="navbar-brand" href="#">GenSci</a>

           <!-- Collapse button -->
           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
               aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

           <!-- Collapsible content -->
           <div class="collapse navbar-collapse" id="navbarSupportedContent">

               <!-- Links -->
               <ul class="navbar-nav mr-auto">
                   <li class="nav-item">
                       <a class="nav-link" href="/">Home <span class="sr-only"></span></a>
                   </li>
               </ul>
           </div>
       </div>
    </nav>
    <!-- /Navbar -->
    <!-- Mask for page -->
    <div  id="intro" class="view hm-black-light">

        <div class="container-fluid full-bg-img d-flex align-items-center justify-content-center">
            <div class="row d-flex justify-content-center ">
                <div class="col-md-6 text-center">
                    <!-- Registration Form  Cascading Card -->
                    <div class="card">

                        <!-- Card Image -->
                        <div class="view rgba-blue-light">
                            <h3  class="h3-responsive">Subscribe for Notifications</h3>
                            <hr>
                            <p>If you would like to receive notifications about GenSci updates, please subscribe below. </p>
                        </div>
                    <!-- /Card Image -->

                    <!-- Form subscription -->
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="md-form">
                            <i class="fa fa-user prefix grey-text"></i>
                            {{form.name}}
                            <label for="{{form.name.id_for_label}}">Your name</label>
                        </div>

                        <div class="md-form">
                            <i class="fa fa-envelope prefix grey-text"></i>
                            {{form.email}}
                            <label for="{{form.email.id_for_label}}">Your email</label>
                        </div>

                        <div class="text-center">
                            <button class="btn btn-indigo" type="submit">Subscribe <i class="fa fa-paper-plane-o ml-1"></i></button>
                        </div>

                    </form>
                    <!-- Form subscription -->
                    </div>
                    <!-- /Card -->
                </div>
            </div>
        </div>
    </div>
    <!-- /Mask -->
</header>

<main>
</main>

<footer>

</footer>

{% endblock %}
