/*
--------------------------------------------------------------------
                          TYPOGRAPHY
--------------------------------------------------------------------
Custome style rules for our typography.
*/



/* Custom error styling */
.error {
    font-size: 125%;
    color: #F11;
}

/*
-------------------------------------------------------------------
                        TEXT SIZE RULES
-------------------------------------------------------------------
*/

.lt-125 {
  font-size: 125%;
}
.lt-150 {
  font-size: 150%;
}
.lt-175 {
  font-size: 175%;
}
.lt-200 {
  font-size: 200%;
}

.small-text {
  font-size: 50%;
}
