####################################################################
# Python Requirements of Gentlemen Scientists
####################################################################

# We are keeping this light until we go full bore into the web application.
django==1.11.8
gunicorn==19.7.1
